@import "./styles";

$tooltip-font-size: 10px;
$h1-font-size: 1.9rem;

.contact-layer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  @include padding(16px);
  min-height: 10rem;
  // max-height: 320px;
}

.contact-about {
  @include margin-top(4rem);
}

.contact-layer h1 {
  @include font-size($h1-font-size);
}

.contact-links h3 {
  margin: 0px;
  padding: 4px 0px 4px 0px;
}

/** Email tooltip **/

.copyEmailText {
  text-decoration: none;
}

.copyEmailText:hover{
  text-decoration: underline;
}

.copyEmailText {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  text-transform: uppercase;
}

.copyEmailText:hover {
  background-color: transparent;
  cursor: pointer;
}

.copyEmailText {
  background-color: transparent;
  position: relative;

  &:before {
    content: '';
    display: none;
    position: absolute;
    z-index: 9998;
    top: -12px;
    left: 16px;
    width: 0;
    height: 0;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }

  &:after {
    content: 'Copy to clipboard';
    display: none;
    position: absolute;
    z-index: 9999;
    top: -48px;
    left: 0px;
    width: 148px;
    height: 36px;
    padding: 12px 6px 0px 6px;
    font-size: $tooltip-font-size;
    line-height: 1.1;
    text-align: center;
  }

  &:hover {

    &:before, &:after {
      display: block;
      font-size: 12px;
    }
  }

  &:active, &:focus {
    outline: none;

    &:after {
      content: '📋 Email copied!';
    }
  }
}
